body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-wrap {
  word-wrap: break-word;
}


.bot-army {
  overflow-x: scroll;
  background-color: gray;
  padding-top: 90px;
  padding-bottom: 40px;
  
  }



.all-bots-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color:black;
}

.bot-container {
  width: 180px;
  margin: 8px 5px;
  padding: 5px 17px;
  background-color: mediumturquoise;
  overflow-wrap: break-word;
  height: auto; 
}


.bot-container-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-top: solid 2px white;
}

.bot-container-footer > div {
  margin: 2px;
  padding: 5px;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bot-name {
  font-weight: 750;
  font-size: larger;
}

.text,
.ptext,h1 {
  display: inline-block;
  vertical-align: top;
  
}

.text {
  color: black;
  align-items: center;
  font-weight: bold;
  font-size: 3em;
  background-color: green;
  border-radius: 50%;
  padding: 30px 40px;
  margin-top: 2px;
  animation: blink 2s infinite alternate, dance 2s infinite;
}

@keyframes blink {
  0%, 100% {
    background-color: green;
    color: black;
  }
  50% {
    background-color: red;
    color: white;
  }
}

@keyframes dance {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


.ptext {
  color: white;
  font-weight: bold;
  font-size: 3em;
  background-color: black;
  border-radius: 50%;
  padding: 30px 40px;
  margin-top: 2px;
  margin-left: 700px;
  animation: blink 2s infinite alternate, dance 2s infinite;
}

@keyframes blink {
  0%, 100% {
    background-color: black;
    color: white;
  }
  50% {
    background-color: red;
    color: yellow;
  }
  30%{
    background-color: blue;
    color: aqua;
  }
  10%{
    background-color: green;
    color: purple;
  }
}
@keyframes dance {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  30%{
    background-color: blue;
    color: aqua;
  }
  10%{
    background-color: green;
    color: purple;
  }
}


.red-release{
color: white;
background-color: red;
font-size: large;
font-weight: bold;
font-size: large;

}
.red-delete{
  background-color: red;
  color: white;
  border: none;
  font-size: x-large;
  cursor: pointer;
  font-weight: bold;
}
  .he {
    color: black;
    align-items: center;
    font-weight: bold;
    font-size: 3em;
    border-radius: 50%;
    padding: 30px 40px;
    margin-bottom: 2px;
    margin-left: 550px;
    animation: blink 4s infinite;
  }
  
  @keyframes blink {
    0% {
      background-color: red;
    }
    25% {
      background-color: blue;
    }
    50% {
      background-color: green;
    }
    75% {
      background-color: yellow;
    }
    100% {
      background-color: orange;
    }
  }
  

.sort-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 38px;
  text-align: center;
  color: red;
  font-weight: bold;
  background-color: pink;
 
}

.sort-bar select {
  margin-left: 10px;
  padding: 8px;
  color: blue;
  background-color: yellow;
  font-size: 20px;
  font-weight: bold;
}